In [1]:
import pandas as pd
import seaborn as sns

url= 'https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.data'
col_names = ['id','rindex','na','mg','al','si','k','ca','ba','fe','glass_type']
glass =pd.read_csv(url,names=col_names,index_col='id')
glass.head()

     rindex     na    mg    al     si     k    ca   ba   fe  glass_type
id
1   1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0           1
2   1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0           1
3   1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0           1
4   1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0           1
5   1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0           1

In [2]:
sns.lmplot('na', 'mg', data=glass, hue='Type');

KeyError: "['Type'] not in index"

ModuleNotFoundError: No module named 'graphviz'