In [1]:
import pandas as pd
import numpy

In [2]:
df = pd.read_csv('H:/Machine Learning Module/Data sets/Gender_Height_Weight_Index.csv')
#for  xlsx use read_excel

In [42]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [43]:
df.keys()

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [44]:
df.tail()

     Gender  Height  Weight  Index
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

In [45]:
male_data = df[df['Gender']=='Male']

In [46]:
male_data.head()

  Gender  Height  Weight  Index
0   Male     174      96      4
1   Male     189      87      2
4   Male     149      61      3
5   Male     189     104      3
6   Male     147      92      5

In [47]:
male_data.shape

(245, 4)

In [48]:
Female_data = df[df['Gender']=='Female']

In [49]:
Female_data.head()

    Gender  Height  Weight  Index
2   Female     185     110      4
3   Female     195     104      3
9   Female     169     103      4
11  Female     159      80      4
12  Female     192     101      3

In [50]:
df_val = df.drop('Gender',1)

In [51]:
df_val.head()

   Height  Weight  Index
0     174      96      4
1     189      87      2
2     185     110      4
3     195     104      3
4     149      61      3

In [52]:
#Type cast into array


df_val = df_val[['Height','Weight']]

In [53]:
#Type cast into array


df_val = df_val[['Height','Weight']]

In [54]:
df_val.head()

   Height  Weight
0     174      96
1     189      87
2     185     110
3     195     104
4     149      61

In [55]:
from sklearn import cross_validation
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [56]:
len(df_val)

500

In [62]:
X = df_val['Height']
y = df_val['Weight']
X_val = numpy.array(X)
y_val = numpy.array(y)
X_val = X_val.reshape(-1,1)
y_val = y_val.reshape(-1,1)

In [63]:
X_train,X_test,y_train,y_test = cross_validation.train_test_split(X_val,y_val,test_size=0.2)

In [64]:
y_train #X_train,X_test,y_test

array([[ 69],
       [140],
       [156],
       [ 71],
       [ 96],
       [142],
       [ 82],
       [121],
       [122],
       [131],
       [ 55],
       [132],
       [159],
       [154],
       [146],
       [149],
       [ 82],
       [ 84],
       [155],
       [ 95],
       [ 85],
       [ 92],
       [ 70],
       [147],
       [141],
       [149],
       [160],
       [141],
       [108],
       [145],
       [158],
       [101],
       [109],
       [110],
       [124],
       [154],
       [131],
       [140],
       [ 70],
       [144],
       [ 74],
       [119],
       [151],
       [130],
       [139],
       [110],
       [126],
       [130],
       [109],
       [132],
       [140],
       [ 62],
       [ 90],
       [ 86],
       [ 68],
       [156],
       [106],
       [ 50],
       [ 57],
       [116],
       [ 78],
       [ 57],
       [124],
       [ 52],
       [ 53],
       [159],
       [148],
       [ 64],
       [140],
       [158],
       [ 56],
       [136],
       [ 68],
       [ 51],
       [108],
       [134],
       [135],
       [141],
       [149],
       [ 88],
       [140],
       [110],
       [112],
       [ 75],
       [ 50],
       [ 79],
       [100],
       [121],
       [136],
       [ 79],
       [ 60],
       [ 52],
       [146],
       [ 72],
       [153],
       [ 51],
       [ 71],
       [ 59],
       [ 61],
       [ 66],
       [108],
       [137],
       [ 84],
       [ 54],
       [ 57],
       [155],
       [ 61],
       [ 62],
       [ 64],
       [ 57],
       [119],
       [ 87],
       [153],
       [133],
       [ 62],
       [145],
       [117],
       [137],
       [101],
       [121],
       [ 85],
       [ 59],
       [111],
       [ 56],
       [106],
       [139],
       [ 80],
       [ 99],
       [151],
       [126],
       [122],
       [107],
       [ 70],
       [ 61],
       [118],
       [ 93],
       [138],
       [123],
       [153],
       [ 90],
       [155],
       [118],
       [141],
       [ 70],
       [ 67],
       [ 84],
       [ 52],
       [150],
       [157],
       [ 96],
       [105],
       [ 80],
       [142],
       [ 60],
       [137],
       [147],
       [ 95],
       [ 80],
       [ 77],
       [127],
       [104],
       [ 71],
       [102],
       [138],
       [143],
       [115],
       [ 94],
       [156],
       [145],
       [141],
       [123],
       [120],
       [ 92],
       [152],
       [ 83],
       [ 83],
       [160],
       [111],
       [ 94],
       [ 81],
       [109],
       [143],
       [ 61],
       [ 98],
       [122],
       [117],
       [ 84],
       [151],
       [153],
       [114],
       [ 67],
       [114],
       [ 52],
       [ 50],
       [ 52],
       [ 61],
       [129],
       [ 65],
       [ 54],
       [118],
       [142],
       [135],
       [115],
       [110],
       [107],
       [127],
       [147],
       [ 80],
       [116],
       [104],
       [104],
       [102],
       [106],
       [131],
       [ 90],
       [ 88],
       [138],
       [ 90],
       [ 65],
       [144],
       [ 58],
       [ 98],
       [ 89],
       [ 74],
       [108],
       [ 70],
       [140],
       [131],
       [ 77],
       [ 69],
       [ 65],
       [ 81],
       [ 86],
       [160],
       [ 88],
       [154],
       [ 94],
       [ 80],
       [ 95],
       [145],
       [ 89],
       [118],
       [ 54],
       [ 58],
       [143],
       [107],
       [101],
       [100],
       [ 66],
       [141],
       [104],
       [ 54],
       [ 86],
       [105],
       [ 54],
       [ 89],
       [ 64],
       [109],
       [ 79],
       [104],
       [ 70],
       [160],
       [ 85],
       [115],
       [133],
       [139],
       [124],
       [ 88],
       [139],
       [135],
       [110],
       [125],
       [123],
       [ 80],
       [154],
       [105],
       [ 99],
       [ 50],
       [ 94],
       [135],
       [ 81],
       [114],
       [ 57],
       [131],
       [ 72],
       [105],
       [ 96],
       [ 83],
       [111],
       [138],
       [156],
       [146],
       [ 76],
       [ 78],
       [ 96],
       [118],
       [109],
       [ 75],
       [154],
       [126],
       [105],
       [ 61],
       [158],
       [ 56],
       [128],
       [140],
       [159],
       [132],
       [117],
       [ 54],
       [ 76],
       [ 90],
       [ 75],
       [154],
       [146],
       [ 81],
       [ 59],
       [ 71],
       [ 79],
       [ 99],
       [ 74],
       [120],
       [ 91],
       [111],
       [103],
       [ 56],
       [ 97],
       [ 80],
       [ 87],
       [ 85],
       [146],
       [121],
       [115],
       [ 67],
       [ 90],
       [111],
       [157],
       [ 96],
       [ 87],
       [ 96],
       [121],
       [ 51],
       [ 62],
       [ 50],
       [ 66],
       [ 98],
       [ 58],
       [140],
       [123],
       [ 60],
       [153],
       [126],
       [102],
       [110],
       [131],
       [127],
       [ 70],
       [139],
       [147],
       [153],
       [155],
       [ 68],
       [126],
       [149],
       [ 76],
       [135],
       [ 83],
       [155],
       [ 86],
       [ 62],
       [130],
       [139],
       [101],
       [ 82],
       [ 50],
       [153],
       [145],
       [ 65],
       [ 68],
       [ 83],
       [120],
       [ 97],
       [143],
       [137],
       [110],
       [ 69],
       [107],
       [ 83],
       [ 81],
       [111],
       [ 61],
       [ 63],
       [ 79],
       [ 92],
       [138],
       [ 51],
       [ 80],
       [ 87],
       [ 73],
       [119]], dtype=int64)

In [67]:
#Machine Learning Algo

lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [69]:
accuracy = lr.score(X_test,y_test)
accuracy

-0.049070617247449544

In [83]:
plt.scatter(X_val,color='b',label='Data')
#plt.plot(a,b,color='red',label='Regression')
plt.plot(y_val)
plt.xlabel("xdata")
plt.ylabel("ydata")
plt.legend(loc = 4)
plt.show()
plt.plot(X_val,y_val,color='r')

TypeError: scatter() missing 1 required positional argument: 'y'